<section class="py-8 h-auto w-screen overflow-x-hidden">
    <h3 class="font-bold text-3xl text-center relative z-50">About me</h3>

    <div class="mt-8 flex justify-center">
        <img class="w-36 rounded-full" src="../../../assets/images/profile-anas.jpg" alt="anas">
    </div>

    <img class="-mt-44 -mr-48 float-right" src="../../../assets/images/extra/zigzag.png" alt="zigzag">
    <img class="-mt-20 -ml-14 float-left" src="../../../assets/images/extra/circle.png" alt="circle">

    <div class="mt-4 absolute">
        <h4 class="font-bold text-xl text-center">Hey there!</h4>
        <p class="text-gray-500 text-center mt-4 mx-10">
            I’m Muhammad Anas, a Front-end
            Developer with 4+ months of experience.
            I have developed numerous websites and coding as well.
        </p>
        <p class="text-gray-500 text-center mt-4 mx-10">
            I grew up in Alor Setar and went to school at Sungai Petani and just finished my 
            last semester of diploma in Computer Science. I spend my free time listening to 
            music and enjoying time with my family in Guar Chempedak, Kedah.
        </p>
    </div>

    <div class="mt-10">
        <img class="mt-80 ml-8" src="../../../assets/images/extra/plus.png" alt="plus">
    </div>

    <div class="mt-16 mb-10">
        <h3 class="font-bold text-center text-xl">What I've worked with so far</h3>

        <div class="flex flex-col px-10 pt-8">
            <div class="grid grid-cols-3">
                <div>
                    <img class="w-12 mx-auto" src="../../../assets/images/icons/angular.png" alt="angular">
                    <p class="text-center mt-3">Angular</p>
                </div>
                <div>
                    <img class="w-12 mx-auto" src="../../../assets/images/icons/typescript.png" alt="typescript">
                    <p class="text-center mt-3">TypeScript</p>
                </div>
                <div>
                    <img class="w-12 mx-auto" src="../../../assets/images/icons/javascript.png" alt="javascript">
                    <p class="text-center mt-3">JavaScript</p>
                </div>
            </div>
            <div class="grid grid-cols-3 mt-10">
                <div>
                    <img class="w-12 mx-auto" src="../../../assets/images/icons/html5.png" alt="html">
                    <p class="text-center mt-3">HTML</p>
                </div>
                <div>
                    <img class="w-12 mx-auto" src="../../../assets/images/icons/css3.png" alt="css">
                    <p class="text-center mt-3">CSS</p>
                </div>
                <div>
                    <img class="w-12 mx-auto" src="../../../assets/images/icons/sass.png" alt="sass">
                    <p class="text-center mt-3">Sass</p>
                </div>
            </div>
        </div>
    </div>

</section>
