<section class="lg:px-16 mx-auto py-10 h-auto w-auto overflow-x-hidden">
    <h3 class="font-bold text-3xl text-center relative z-50">About me</h3>

    <div class="md:w-10/12 md:mx-auto lg:w-11/12 lg:mt-4 flex justify-center">
        <div class="flex flex-col lg:flex-row lg:w-2/3">
            <div class="mt-8 flex justify-center lg:w-1/3">
                <img class="w-36 h-36 lg:w-44 lg:h-44 rounded-full" src="../../../assets/images/profile-anas.jpg" alt="anas">
            </div>
    
            <div class="mt-4 lg:mt-8 lg:w-2/3">
                <h4 class="font-bold text-xl text-center lg:text-left">Hey there!</h4>
                <p class="text-gray-500 text-center lg:text-left mt-4 mx-10 lg:mx-0">
                    I’m Muhammad Anas, a Front-end
                    Developer with 4+ months of experience.
                    I have developed numerous websites and coding as well.
                </p>
                <p class="text-gray-500 text-center lg:text-left mt-4 mx-10 lg:mx-0">
                    I grew up in Alor Setar and went to school at Sungai Petani and just finished my 
                    last semester of diploma in Computer Science. I spend my free time listening to 
                    music and enjoying time with my family in Guar Chempedak, Kedah.
                </p>
                <div class="flex flex-row mt-4">
                    <a href="https://github.com/anas283" target="_blank">
                        <img class="w-12 h-12 p-2 rounded-md mr-2 cursor-pointer hover:shadow-lg duration-150" src="../../../assets/images/icons/logo-github.svg" alt="github">
                    </a>
                    <a href="https://www.linkedin.com/in/anas283/" target="_blank">
                        <img class="w-12 h-12 p-2 rounded-md cursor-pointer hover:shadow-lg duration-150" src="../../../assets/images/icons/logo-linkedin.svg" alt="linkedin">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <img class="-mt-80 lg:-mt-60 -mr-28 md:mr-10 lg:mr-14 float-right w-40" src="../../../assets/images/extra/zigzag.png" alt="zigzag">
    <img class="-mt-20 -ml-14 md:-ml-10 lg:ml-10 float-left w-20" src="../../../assets/images/extra/circle.png" alt="circle">

    <div class="mt-4">
        <img class="w-14 mt-16 ml-8 lg:ml-32" src="../../../assets/images/extra/plus.png" alt="plus">
    </div>

    <div class="mt-4 mb-10">
        <h3 class="font-bold text-center text-xl">What I've worked with so far</h3>

        <div class="flex flex-col lg:flex-row px-10 pt-8 lg:pt-10 lg:justify-center">
            <div class="grid grid-cols-3">
                <div>
                    <img class="w-10 mx-auto" src="../../../assets/images/icons/angular.png" alt="angular">
                    <p class="text-center text-sm mt-3">Angular</p>
                </div>
                <div class="lg:mx-4">
                    <img class="w-10 mx-auto" src="../../../assets/images/icons/typescript.png" alt="typescript">
                    <p class="text-center text-sm mt-3">TypeScript</p>
                </div>
                <div class="lg:mx-4">
                    <img class="w-10 mx-auto" src="../../../assets/images/icons/javascript.png" alt="javascript">
                    <p class="text-center text-sm mt-3">JavaScript</p>
                </div>
            </div>
            <div class="grid grid-cols-3 mt-10 lg:mt-0">
                <div class="lg:mx-4">
                    <img class="w-10 mx-auto" src="../../../assets/images/icons/html5.png" alt="html">
                    <p class="text-center text-sm mt-3">HTML</p>
                </div>
                <div class="lg:mx-4">
                    <img class="w-10 mx-auto" src="../../../assets/images/icons/css3.png" alt="css">
                    <p class="text-center text-sm mt-3">CSS</p>
                </div>
                <div>
                    <img class="w-10 mx-auto" src="../../../assets/images/icons/sass.png" alt="sass">
                    <p class="text-center text-sm mt-3">Sass</p>
                </div>
            </div>
        </div>
    </div>

</section>
