<div class="lg:px-16 mx-auto flex justify-between p-5 relative z-50">
    <div>
        <a class="font-bold" href="/">anas</a>
    </div>
    <div class="flex flex-row">
        <a class="border-b-2 border-transparent transition duration-100 hover:border-gray-600" href="/">home</a>
        <a class="border-b-2 border-transparent transition duration-100 hover:border-gray-600 mx-6" href="/work">my work</a>
        <a class="border-b-2 border-transparent transition duration-100 hover:border-gray-600" href="/about">about</a>
    </div>
    <div class="hidden lg:block">
        <a class="border-b-2 border-transparent transition duration-100 hover:border-gray-600" href="mailto:muhammadanasbinadam@gmail.com">contact</a>
    </div>
</div>