<section class="bg-indigo-100 px-4 lg:px-16 mx-auto py-10 h-auto w-auto overflow-x-hidden">
    <h3 class="font-bold text-3xl text-center relative z-50">
        {{ title }}
    </h3>

    <div class="flex flex-row relative z-50 mt-8">
        <div>
            <img (click)="openAbout()" class="w-12 h-12 rounded-full cursor-pointer" src="../.././../assets/images/profile-anas.jpg" alt="anas">
        </div>
        <div class="ml-3">
            <h5 class="font-bold text-sm">Muhammad Anas</h5>
            <p class="text-gray-500 text-sm">28 Feb 2021</p>
        </div>
    </div>

    <img class="relative z-50 rounded-lg mt-8" [src]="image" alt="dashboard">

    <div class="relative z-50 mx-auto mt-8 pb-10">
        <p class="mt-4 text-center">
            {{ description }}
        </p>
        <div *ngIf="title != 'Preztel Dashboard'" class="flex justify-center">
            <button (click)="visitWork()" class="mt-4 px-10 py-2 rounded-md bg-indigo-600 text-white hover:bg-transparent hover:border-indigo-600 border-2 hover:text-indigo-600 duration-150 focus:outline-none">
                Visit
            </button>
        </div>
    </div>


    <div class="bg-indigo-100 w-screen h-screen absolute z-0 top-0 right-0"></div>
</section>