<section class="h-screen lg:h-full px-4 lg:max-w-6xl mx-auto py-10 w-auto">
    <h3 class="font-bold text-3xl text-center">
        {{ title }}
    </h3>

    <div class="flex flex-row mt-8">
        <div>
            <img (click)="openAbout()" class="w-12 h-12 rounded-full cursor-pointer" src="../.././../assets/images/profile-anas.jpg" alt="anas">
        </div>
        <div class="ml-3">
            <h5 class="font-bold text-sm">Muhammad Anas</h5>
            <p class="text-gray-500 text-sm">28 Feb 2021</p>
        </div>
    </div>

    <div class="bg-blue-100 p-2 mt-6">
        <img class="rounded-lg" [src]="image" alt="dashboard">
    </div>

    <div class="mx-auto mt-6 pb-10">
        <p class="mt-4 text-center">
            {{ description }}
        </p>
        <div *ngIf="title != 'Preztel Dashboard'" class="flex justify-center">
            <button (click)="visitWork()" class="mt-4 px-10 py-2 rounded-md bg-blue-500 text-white hover:bg-transparent border-transparent hover:border-blue-500 border-2 hover:text-indigo-600 duration-150 focus:outline-none">
                Visit
            </button>
        </div>
    </div>

    <div>
        <button (click)="goBack()" class="flex flex-row w-24 p-2 rounded-md hover:shadow-lg duration-150">
            <img class="w-8 h-8" src="../../../assets/images/icons/arrow-back-outline.svg" alt="arrow">
            <span class="mx-2 my-1">back</span>
        </button>
    </div>
</section>