<section class="lg:px-16 mx-auto py-10 h-auto w-screen overflow-x-hidden flex flex-row">

    <div class="w-1/2">
        <img class="zigzag relative z-50 ml-72 md:ml-96 lg:ml-72 w-32" src="../../../assets/images/extra/zigzag.png" alt="zigzag">
    
        <div class="flex justify-center md:ml-52 md:mt-10 lg:ml-0 lg:justify-start -mr-48 lg:mt-16 lg:w-3/4">
            <h1 class="main-text w-48 sm:w-auto mt-10 font-bold text-4xl lg:text-5xl text-center lg:text-left relative z-50 leading-snug">
                I design and build websites
            </h1>
        </div>

        <img class="circle absolute -ml-10 mt-20 md:ml-14 lg:ml-20 lg:mt-0 w-16" src="../../../assets/images/extra/circle.png" alt="circle">
        <img class="absolute bottom-0 ml-12 mb-10 lg:ml-96 w-14" src="../../../assets/images/extra/plus.png" alt="plus">
    </div>

    <div class="bg-indigo-100 w-1/2 h-screen absolute z-0 top-0 right-0"></div>

    <!-- <img class="w-cd relative -ml-24 z-50 mt-80 shadow-md rounded-md lg:ml-20 lg:mt-14" src="../../../assets/images/works/new_dashboard.png" alt="dashboard"> -->
    <img class="w-cd relative -ml-24 z-50 mt-80 shadow-md rounded-md lg:ml-20 lg:mt-0" src="../../../assets/images/works/new_dashboard.png" alt="dashboard">

</section>
