@media only screen and (max-width: 1024px) {    
    .main-text {
        animation: fadeInTop ease 1.3s;
    }

    @keyframes fadeInTop {
        0% {
            transform: translateY(-10%);
            opacity: 0;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 1024px) {    
    .left-content {
        width: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 33.5%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        /* animation: fadeInTop ease 1.3s; */
    }

    @keyframes fadeInTop {
        0% {
            margin-top: -5%;
            opacity: 0;
        }
        100% {
            margin-top: 0%;
            opacity: 1;
        }
    }

    .hero-img {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 73%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    /* .circle {
        margin: 0;
        position: absolute;
        top: 70%;
        left: 10%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .zigzag {
        margin: 0;
        position: absolute;
        top: 30%;
        left: 35%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    } */
}