<section class="py-10 h-auto w-screen overflow-x-hidden">

    <img class="relative z-50 ml-64" src="../../../assets/images/extra/zigzag.png" alt="zigzag">

    <div class="flex justify-center">
        <h1 class="w-48 sm:w-auto mt-10 font-bold text-4xl text-center relative z-50 leading-snug">
            I design and build websites
        </h1>
    </div>

    <img class="relative ml-28 z-50 mt-14 shadow-md" src="../../../assets/images/works/new_dashboard.png" alt="dashboard">
    <img class="relative -ml-14 -mt-60" src="../../../assets/images/extra/circle.png" alt="circle">
    <img class="relative mt-16 ml-12" src="../../../assets/images/extra/plus.png" alt="plus">
    
    <div class="bg-indigo-100 w-1/2 h-screen absolute z-0 top-0 right-0"></div>
</section>
