<section class="bg-indigo-100 py-8 h-auto w-screen overflow-x-hidden">
    <h3 class="font-bold text-3xl text-center relative z-50">My latest work</h3>
    
    <div class="flex flex-col relative z-50 px-4 mt-8">
        <div>
            <img class="rounded shadow-md" src="../../../assets/images/works/new_dashboard.png" alt="new_dashboard">
        </div>
        <div>
            <img class="rounded shadow-md mt-4" src="../../../assets/images/works/manage-landing-page.png" alt="manage">
        </div>
        <div>
            <img class="rounded shadow-md mt-4" src="../../../assets/images/works/old_dashboard.png" alt="old_dashboard">
        </div>
    </div>

    <div class="bg-indigo-100 w-screen h-screen absolute z-0 top-0 right-0"></div>
</section>
